name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build and run openmct-tutorial:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:    
      - uses: actions/checkout@v2
        with:
          repository: nasa/openmct-tutorial

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          cd openmct-tutorial
          npm install
          npm start
  build and run telemetry-client:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:    
      - uses: actions/checkout@v2
        with:
          repository: shefalijoshi/telemetry-client

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          cd telemetry-client
          npm install
          npm run build          

  build and run e2e tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:    
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          npm install
          npm run cypress:gha
