name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  openmct-tutorial:
    runs-on: ubuntu-latest

    steps:    
      - uses: actions/checkout@v2
        with:
          repository: nasa/openmct-tutorial
          
      - name: Run a one-line script
        run: |
          ls -R

      - name: Run a one-line script
        run: |
          cd openmct-tutorial
          npm install
          npm start &
  telemetry-client:

    runs-on: ubuntu-latest
    needs: [openmct-tutorial]

    steps:    
      - uses: actions/checkout@v2
        with:
          repository: shefalijoshi/telemetry-client

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          npm install
          npm run build          

  e2e-tests:
    runs-on: ubuntu-latest
    needs: [openmct-tutorial, telemetry-client]

    steps:    
      - uses: actions/checkout@v2

      - name: Run a one-line script
        run: |
          npm install
          npm run cypress:gha
