name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  openmct-e2e:
    runs-on: ubuntu-latest

    steps:    
      - uses: actions/checkout@v2
        with:
          repository: nasa/openmct-tutorial
          
      - name: Cache node modules
        uses: actions/cache@v2.1.4
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            
      - name: Start openmct-tutorial application
        run: |
          npm install
          npm start &     
   
      - uses: actions/checkout@v2
        with:
          repository: shefalijoshi/telemetry-client

      - name: Start telemetry-client application and healthcheck
        run: |
          npm install
          npm run build &
          sleep 10 &&
          curl http://localhost:3000
   
      - uses: actions/checkout@v2

      - name: Cypress run with Dashboard
        uses: cypress-io/github-action@v2
        with:
            wait-on: 'http://127.0.0.1:3000'
            # wait for 2 minutes for the server to respond
            wait-on-timeout: 120
            record: true
            config: baseUrl=http://127.0.0.1:3000
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
